<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <form [formGroup]="taskForm">
        <ng-container formArrayName="data">
          <div class="row" *ngFor="let task of aliasesTaskArrayControl; let j = index">
            <ng-container [formGroupName]="j">

              <div class="input-group  mb-3">
                <span class="input-group-text">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input formControlName="taskName" type="text" class="form-control" aria-describedby="nameHelp">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Description</span>
                <textarea formControlName="taskDescription" class="form-control" aria-label="description"></textarea>
              </div>

              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Organizations
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="mb-3 form-check">
                        <input formControlName="taskOrganizations" type="checkbox" class="form-check-input"
                          id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="my-2">
                <label for="startDate">startDate</label>
                <input formControlName="taskStartDate" id="startDate" class="form-control" type="date" />
              </div>

              <div class="my-2">
                <label for="planFinishDate">planFinishDate</label>
                <input formControlName="taskPlanFinishDate" id="planFinishDate" class="form-control" type="date" />
              </div>

            </ng-container>
          </div>
        </ng-container>
      </form>


      <form class="container p-0 h-100" [formGroup]="stepForm">
        <button class="btn btn-outline-primary mb-3" (click)="addStepFormGroup()">Add Step</button>
        <ng-container formArrayName="steps">
          <div class="d-flex flex-column h-100" *ngFor="let step of aliasesArrayControl; let i = index">
            <ng-container [formGroupName]="i">

              <div class="col-12 d-flex justify-content-between mb-1">

                <div class="col-6">Step #{{i + 1}}</div>
                <div class="col-2">
                  <button class="btn btn-danger btn-sm" (click)="removeOrClearStep(i)">Delete</button>
                </div>

              </div>

              <div class="input-group mb-3 col-12">
                <span class="input-group-text">Step name&nbsp;</span>
                <input formControlName="name" class="form-control" placeholder="Step name">
              </div>
              <div class="input-group mb-3 col-12">
                <span class="input-group-text">Description</span>
                <textarea formControlName="description" class="form-control" placeholder="Step description"></textarea>
              </div>



            </ng-container>
          </div>

        </ng-container>
      </form>
      <button type="submit" class="btn btn-success mt-3" (click)="save()">Save Task</button>



      <!-- <div class="add-lessons-form" [formGroup]="form">
        <ng-container formArrayName="lessons">
          <ng-container *ngFor="let lessonForm of lessons; let i = index">
            <div class="lesson-form-row" [formGroup]="lessonForm">
              <input matInput formControlName="title" placeholder="Lesson title">
            </div>
          </ng-container>
        </ng-container>
        <button (click)="addLesson()">add</button>
      </div> -->



      <!--
      <button (click)="formArray.push(getFormGroup(null))">Add</button>
      <div [formGroupName]="formArray">
        <div *ngFor="let group of formArray.controls; let i = index" [formGroupName]="group">
          <input formControlName="id" />
          <input formControlName="name" /><span *ngIf="group.get('name').invalid && group.get('name').touched">*</span>
          <input formControlName="fromDate" />
          <input formControlName="fromTime" />
          <input formControlName="toDate" />
          <input formControlName="toTime" />
          <input formControlName="selectedSupervisor2" />
          <input formControlName="selectedLeave2" />
          <button (click)="formArray.removeAt(i)">Remove</button>
        </div>
      </div>
      <button (click)="save(formArray)">Save</button> -->



    </div>
  </div>
</div>
