<div class="row row-cols-1 row-cols-md-3 mt-2 mb-2 g-4">
  <div class="col" *ngFor="let task of tasks$ | async">
    <div class="card h-100">
      <h2 class="card-header">{{task.name}}</h2>
      <div class="card-body">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <!-- <h3 class="card-title">Special title treatment</h3> -->
        <p class="card-text">{{task.description}}</p>
        <p class="card-text">Start Date: {{task.startDate | date}}</p>
        <p class="card-text">PlanFinish Date: {{task.planFinishDate | date}}</p>
        <p class="card-text">RealFinish Date: {{task.realFinishDate | date}}</p>
        <!-- <a [routerLink]="[task._id]" class="btn btn-outline-primary">Details...</a> -->
        <a href="/tasks/{{task._id}}" class="btn btn-outline-primary">Details...</a>
      </div>
    </div>
  </div>
</div>
