<footer class="p-2 text-bg-dark">
  <div class="container">
    <div class="d-flex justify-content-between">
      <ul class="nav col-12 col-lg-auto me-lg-auto align-items-center justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/features" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="/tasks" class="nav-link px-2 text-white">Tasks</a></li>
        <li><a href="/faq" class="nav-link px-2 text-white active" aria-current="page">FAQs</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
      </ul>
      <ul class="nav col-lg-auto align-items-center mb-md-0">
        <li>
          <a class="nav-link px-2 text-white">2023 &copy; All rights reserved for <a href="https://github.com/AlexXG0152">AlexXG0152</a></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
